/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    height: 100%;
    width: 100%;
}

.header-image {
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    }

header small{
    /* font-family: 'Fraunces', serif;
    font-weight: 400; */
    font-family: 'Audiowide', cursive;
}
